/* Flexbox for Column List */
.column-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

/* Flexbox for Slider */
.mySlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid rebeccapurple; */
}

/* Flexbox for StreamGraph & Line Chart */
.streamAndLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 4px solid black; */
}

.streamAndLine .item {
  flex: 1;
  align-items: center;
  /* border: 2px solid red; */
}

.streamAndLine .item div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid purple; */
}

svg.streamGraph, svg.pollutantGraph {
  width: 100%;
  height: auto;
}

/* Flexbox for Scatterplots */
.scatterPlotLabelAndDropdown {
  display: flex;
  flex-direction: row;
  /* border: 2px solid palegreen; */
}

.scatterPlotLabelAndDropdown .item {
  flex: 1;
  align-items: center;
  /* border: 2px solid palevioletred; */
}

.scatterPlots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scatterPlots .item {
  flex: 1;
  align-items: center;
}

.item h3 {
  margin: 0px;
  padding: 0px
}

h3 {
  margin: 0px;
  padding: 0px
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.streamAndLine .item {
  height: 350px;
  width: 600px;
  border: 3px solid grey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.streamAndLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-list-container{
  width: 100%;
}

.Component-1 {
  border: 3px solid grey;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.Component-2 {
  border: 3px solid grey;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.scatterPlots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.scatterPlots svg {
  border: 3px solid grey;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}