/* Flexbox for Column List */
.column-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Flexbox for Slider */
.mySlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Flexbox for StreamGraph & Line Chart */
.streamAndLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 4px solid black; */
}

.streamAndLine .item {
  flex: 1;
  align-items: center;
  /* border: 2px solid red; */
}

.streamAndLine .item div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid red; */
}

svg.streamGraph, svg.pollutantGraph {
  width: 100%;
  height: auto;
}

/* Flexbox for Scatterplots */
.scatterPlotDropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.scatterPlots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scatterPlots .item {
  flex: 1;
  align-items: center;
}